@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,700Italic|Days+One|Istok Web|Droid+Sans:400");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "Istok Web", Helvetica, san-serif;
  font-size: 1.2rem;
  background: #000;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

button {
  width: 100%;
  height: 44px;
  margin: .4em 0;
  font-size: .9rem !important;
}

p {
  margin-top: .5em;
}

div, p {
  line-height: 1.2rem;
}

.header {
  background: black;
}
.header .masthead {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.header .masthead:after {
  content: " ";
  display: block;
  clear: both;
}
.header .masthead .header-branding {
  display: inline;
}
.header .masthead .header-branding img {
  width: 302px;
  height: 112px;
}
.header .header-footer {
  height: .3em;
  border-top: 1px solid red;
  background: #853127;
}
@media (min-width: 47em) {
  .header .masthead {
    text-align: left;
    padding-left: 30px;
  }
}

.navigation {
  background: #381f1b;
  color: #fffffa;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
}
.navigation ul.nav {
  display: none;
  border-bottom: 1px solid #fb1d00;
}
.navigation ul.nav li {
  padding: .2em 1em;
}
.navigation ul.nav li:nth-child(5) a {
  border-bottom: none;
}
.navigation ul.nav li a {
  font-size: .9rem;
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  color: #fff;
  border-bottom: 1px solid #4d3531;
}
@media (min-width: 47em) {
  .navigation ul.nav {
    display: block !important;
  }
}
@media (min-width: 47em) {
  .navigation {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    display: block;
    height: 50px;
  }
  .navigation ul.nav {
    border-bottom: none;
  }
  .navigation ul.nav li {
    float: left;
  }
  .navigation ul.nav li a {
    font-size: .9rem;
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
    border-bottom: none;
  }
}

.content {
  *zoom: 1;
  background: #fff;
}
.content:after {
  content: "";
  display: table;
  clear: both;
}
.content h4 {
  font-family: "Droid Serif", serif;
  margin-bottom: .2em;
  color: #666666;
}
.content .featured {
  display: block;
  margin-bottom: 0.6em;
  padding: 0.6em;
}
.content .featured h3 {
  color: #fb1d00;
  font-size: .8rem;
  line-height: 1rem;
  border-bottom: 2px solid #d9d9d9;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: .4em;
}
.content .featured .featured-title {
  padding-top: .2em;
  margin-bottom: .4em;
}
.content .featured .featured-title h4 {
  font-size: 1.2em;
}
.content .featured .featured-title span {
  color: #fff;
  font-size: 0.8rem;
  background-color: #737373;
  padding: 0.1em 0.6em;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}
.content .featured .featured-image {
  display: block;
  width: 100%;
  height: 220px;
  overflow: hidden;
  background: #262626;
}
.content .featured .featured-image img {
  width: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
@media (min-width: 47em) {
  .content .featured .featured-image {
    width: 100%;
    margin-bottom: .4em;
    overflow: hidden;
    *zoom: 1;
  }
}
.content .featured .featured-description {
  display: block;
  padding: 1em 0;
  font-size: .9rem;
  line-height: 1rem;
  margin-bottom: 1em;
}
.content .featured .featured-description ul {
  padding: 0 0 .5em 0;
  list-style-type: circle;
}
.content .featured .featured-description ul li {
  margin-bottom: .5rem;
  margin-left: 2em;
}
.content .featured .featured-description h4 {
  font-size: 1.4rem;
  padding: .5em 0;
}
@media (min-width: 47em) {
  .content .featured .featured-description {
    padding: 0;
    font-size: .85rem;
  }
}
@media (min-width: 47em) {
  .content .featured {
    padding-top: 0.6em;
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: .4em;
  }
}
.content .secondary {
  padding: 0 0.6em 0.6em 0.6em;
}
.content .secondary h3 {
  color: #fb1d00;
  font-size: .8rem;
  line-height: 1rem;
  border-bottom: 2px solid #d9d9d9;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: .4em;
}
.content .secondary .event-calendar {
  margin-top: .4em;
  width: 100%;
  height: 350px;
  background: #737373;
}
@media (min-width: 47em) {
  .content .secondary {
    padding: 0.6em;
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
    float: right;
    margin-right: 0;
  }
}
.content section.courses {
  background: #fff;
}
.content section.courses h4 {
  background: #4c4c4c;
  color: #fff;
  font-family: "Istok Web", Helvetica, san-serif;
  padding: 0.6em;
  letter-spacing: .1em;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0;
  text-transform: uppercase;
}
.content section.courses.course-item {
  padding: 0.6em;
  padding-top: .4rem;
}
.content section.courses.course-item .course-order {
  width: 100%;
  text-align: center;
  margin: 1.6rem;
}
.content section.courses.course-item button {
  display: block !important;
  width: 50%;
  height: 44px;
  margin: 0 auto;
  font-size: 1rem;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0B99C2', endColorstr='#FF064D61');
  background-color: #0b99c2;
  border: 0;
  color: white;
  text-shadow: #043a49 0 -1px 0;
}
.content section.courses.course-item button:hover {
  text-decoration: none;
}
.content section.courses.course-item button:hover {
  background-color: #0a86aa;
}
.content section.courses.course-item button:active {
  background-color: #097b9b;
}
.content section.courses.course-item button.disabled, .content section.courses.course-item button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: false;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.content section.courses.course-item button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
.content section.courses.course-item h2 {
  font-family: "Droid Serif", serif;
  font-size: 1rem;
  margin-bottom: .5em;
  border-left: 4px solid red;
  padding-left: .4rem;
  color: #666666;
}
.content section.courses.course-item h3 {
  font-family: "Droid Serif", serif;
  font-size: 1.6rem;
  padding: .4em;
  color: #fb1d00;
  border: 0;
  padding: 0;
  margin: .5em 0;
  color: #666666;
}
.content section.courses.course-item li, .content section.courses.course-item p {
  font-size: 0.8rem;
}
.content section.courses.course-item p, .content section.courses.course-item ul {
  margin-bottom: .6rem;
}
.content section.courses.course-item span {
  font-size: 0.8rem;
}
.content section.courses.course-item span.course-price {
  color: #fff;
  font-size: 0.8rem;
  background-color: #737373;
  padding: 0.1em 0.6em;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}
.content section.courses.course-item ul {
  background: #381f1b;
  border: none;
}
.content section.courses.course-item ul.course-outline {
  padding: .4rem;
  color: wheat;
  background: #381f1b;
}
.content section.courses.course-item ul.course-outline span {
  background-image: none !important;
}
.content section.courses.course-item ul.course-outline li {
  border-bottom: 1px dotted gray;
  padding: .4rem;
}
.content section.courses.course-item ul.course-outline li:last-child {
  border-bottom: none;
}
.content section.courses.course-item ul.course-outline.information {
  background: #999;
}
.content section.courses h3 {
  border: none;
  border-left: 4px solid #fb1d00;
  padding: 0.4em 0.6em;
  color: #333333;
}
.content section.courses h4 {
  background: #4c4c4c;
  color: #fff;
  font-family: "Istok Web", Helvetica, san-serif;
  padding: 0.6em;
  letter-spacing: .1em;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0;
}
.content section.courses h4 span {
  font-size: 0.8rem;
  color: wheat;
  position: relative;
  top: -1px;
}
.content section.courses .course-entry {
  padding-top: .4em;
  padding: 0.6em;
  border-bottom: 1px solid #f2f2f2;
}
.content section.courses .course-entry-title {
  border: none;
  border-left: 4px solid #fb1d00;
  padding: 0.4em 0.6em;
  color: #333333;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 1em;
}
.content section.courses .course-entry-title p {
  padding-bottom: .2em;
  display: block;
  color: #381f1b;
}
.content section.courses .course-entry-title span {
  color: #fff;
  font-size: .7rem;
  padding: 0.1em 0.6em;
  text-transform: initial;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0;
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
}
.content section.courses .course-entry-title span.course-duration {
  background-color: #8c8c8c;
}
.content section.courses .course-entry-title span.course-price {
  background-color: #7d453c;
}
.content section.courses .course-entry-description {
  font-family: "Droid Sans", san-serif;
  font-size: .9rem;
  padding-top: .4em;
  padding-left: 1em;
  line-height: 1.1em;
}
@media (min-width: 47em) {
  .content section.courses .course-entry-description {
    font-size: .7em;
    line-height: 1.2em;
  }
}
.content .faq {
  background: #fff;
}
.content .faq h4 {
  background: #4c4c4c;
  color: #fff;
  font-family: "Istok Web", Helvetica, san-serif;
  padding: 0.6em;
  letter-spacing: .1em;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0;
}
.content .faq p {
  padding: 0.6em 1em;
  font-size: 0.9rem;
}
.content .faq article {
  color: #4c4c4c;
  font-size: 0.8rem;
  padding: 0.6em 1em;
}
.content .faq article h3 {
  background-color: #e5e5e5;
  font-family: "Droid Serif", serif;
  font-size: 1rem;
  margin-bottom: .5em;
  border-left: 4px solid gray;
  padding-left: .4rem;
  padding: .4rem;
}
.content .about h4 {
  background: #4c4c4c;
  color: #fff;
  font-family: "Istok Web", Helvetica, san-serif;
  padding: 0.6em;
  letter-spacing: .1em;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0;
  text-transform: uppercase;
}
.content .about div {
  font-size: 0.9rem;
  padding: 0.6em 1em;
}
.content .about li {
  font-family: "Istok Web", Helvetica, san-serif;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.content .about li h2 {
  font-family: "Droid Serif", serif;
  font-size: 1rem;
  margin-bottom: .5em;
  border-left: 4px solid red;
  padding-left: .4rem;
}
.content .about h3 {
  font-family: "Droid Serif", serif;
  font-size: 1.6rem;
  padding: .4em;
  color: #fb1d00;
}
.content .contact {
  /*        input[type="text"],textarea {
              padding: 10px;
              border: none; // 1px dotted #ccc;
              width:100%;
              margin-bottom:.5rem;
              border-bottom: solid 2px #c9c9c9;
              @include transition-property(border);
              @include transition-duration(0.3s);
          } */
}
.content .contact h4 {
  background: #4c4c4c;
  color: #fff;
  font-family: "Istok Web", Helvetica, san-serif;
  padding: 0.6em;
  letter-spacing: .1em;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0;
  text-transform: uppercase;
}
.content .contact .contact-details {
  font-size: .9rem;
  padding: 0.6em 1em;
}
.content .contact .contact-form {
  margin: 0 auto;
}
.content .contact .contact-form form {
  padding: .5em 1em 1em 1em;
  background: floralwhite;
}
.content .contact .contact-form form label {
  display: block;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: bold;
  color: #4c4c4c;
}
@media (min-width: 30em) {
  .content .contact .contact-form {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 47em) {
  .content .contact .contact-form {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 23.72881%;
  }
}

.layout .nav {
  padding: 0.6em;
}
.layout .footer {
  font-size: .7rem;
  color: #fff;
  text-align: center;
  padding: 1em;
  background: #000000;
}
.layout footer {
  line-height: 1.5em;
}
.layout footer span.business-name {
  *zoom: 1;
}
.layout footer span.business-name:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  height: 100%;
}

.footer {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -72px;
}
.footer #root_footer {
  height: 72px;
}

#footer {
  clear: both;
  position: relative;
  height: 72px;
}

button {
  overflow: visible;
}

.nav-toggle {
  color: #fff;
  right: 5px;
  top: 10px;
  position: absolute;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  padding: 9px 10px;
  margin-right: 15px;
  margin-bottom: 8px;
  width: 50px;
}
.nav-toggle .icon-bar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 22px;
  height: 2px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background-color: #fff;
  margin-bottom: 5px;
}
@media (min-width: 47em) {
  .nav-toggle {
    display: none;
  }
}

.k-panel > .k-item > .k-link {
  font-size: 0.8rem;
}

.k-tabstrip-items .k-state-default .k-link, .k-panelbar > li.k-state-default > .k-link {
  font-size: 0.8rem;
}

k-content, .k-editable-area, .k-panelbar > li.k-item, .k-panel > li.k-item, .k-tiles {
  border-bottom: 1px dotted;
  padding: .4rem;
}

.k-state-selected > .k-link, .k-panelbar > li > .k-state-selected, .k-panelbar > li.k-state-default > .k-link.k-state-selected {
  /* color: #fff; */
  font-weight: bold;
  color: #fff;
  background: #4c4c4c;
}

md-input-container {
  padding-bottom: 1.5em;
}
