@import url('http://fonts.googleapis.com/css?family=Droid+Serif:400,700Italic|Days+One|Istok Web|Droid+Sans:400');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

$font-headline:'Droid Serif', serif;
$font-primary:'Istok Web', Helvetica, san-serif;
$font-content:'Droid Sans', san-serif;

body {
    font-family:$font-primary;
    font-size:1.2rem;
    background:#000;
}
