@import "susy";
@import "compass/css3";
@import "compass/layout/sticky-footer";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "breakpoint";
@import "sassy-buttons";


// Susy setup --------------------------------
$total-column       : 12;
$column-width       : 4em;
// gutter - space bet. columns
$gutter-width       : 1em;
$grid-padding       : $gutter-width;

// box model fix
@include border-box-sizing;

// breakpoints
$small              : 30em;
$medium             : 47em;
$large              : 75em;

// Susy setup --------------------------------

* {
   box-sizing:border-box;
 }

// global ------

 button {
            width:100%;
            height: 44px;
            margin: .4em 0;
           // @include sassy-button("flat",4px, $base-font-size);
           font-size:.9rem !important;
        }

p {
    margin-top:.5em;
}

div,p {
    line-height:1.2rem;
}



// header --------------------------------
header {

}

.header {
    background:black;
    .masthead {
        // initialize susy grid context
        @include container;
        text-align:center;
        .header-branding {
            // background:url(../img/itlogo.png) no-repeat;
                img {
                    width:302px;
                    height:112px;
                }
            display:inline;
       } // branding
    } // .layout

    .header-footer {
        height:.3em;
        border-top:1px solid red;
        background:#853127;
    }


    @include breakpoint($medium) {
       .masthead {
        text-align:left;
        padding-left:30px;
        .header-branding {

        } // header-branding
       } // .layout

   } // .header medium breakpoint

} // .header

// header --------------------------------


.navigation {

    background:#381f1b;
    color: $nav-normal;
    font-weight:300;
    text-transform:uppercase;
    font-size:1rem;
 

    ul.nav {
        display:none;
        border-bottom:1px solid $red;
        li {
            padding:.2em 1em;
           &:nth-child(5) {
                  a {
                     border-bottom:none;
                    }
                } // nth-child

            i { // icons if applicable

            } // icons

            a {
                font-size:.9rem;
                display:block;
                text-decoration:none;
                padding: 5px 10px;
                color: $white;
                border-bottom:1px solid #4d3531;

                &.active {

                } // a.active
            }  // a
        } // li

         @include breakpoint($medium) {

             display:block !important;
         }

    } // ul.nav

    @include breakpoint($medium) {
        @include single-transition(all, 1s, ease-out);
        display:block;

        height:50px;
        ul.nav {
              //  border-bottom:1px solid $red;
                border-bottom:none;
                li {
                    float:left;
                   &:nth-child(5) {
                          a {
                          //   border-bottom:none;
                            }
                        } // nth-child

                    i { // icons if applicable

                    } // icons

                    a {
                        font-size:.9rem;
                      //  display:block;
                        text-decoration:none;
                        padding: 5px 10px;
                        color: $white;
                       // border-bottom:1px solid #4d3531;
                        border-bottom:none;

                        &.active {

                        } // a.active
                    }  // a
                } // li
        } // ul.nav

    } // .navigation medium breakpoint

}


.content {

     @include pie-clearfix;
     background:$white;

     h4 {
        font-family:$font-headline;
        // text-transform:uppercase;
        margin-bottom:.2em;
        color: adjust-lightness($darkgray, 25);
    } // h4


    .featured {
        display:block;
        margin-bottom:$base-padding;
        padding: $base-padding;
     

        h3 {
            @include i-h3;
        }

    
        .featured-title {
            padding-top:.2em;
            margin-bottom:.4em;

            h4 {
                font-size:1.2em;
            }
              
               span {
                   color:#fff;
                   font-size:$base-font-size;
                   background-color: adjust-lightness($darkgray, 30);
                   padding:.1em $base-padding;
                   @include border-radius(4px, 4px);
               }
        } // featured-title

        .featured-image {
            display:block;
            width: 100%;
            height:220px;
            overflow:hidden;
            background:$darkgray;

            img {
                width:100%;
              
                @include background-size(cover);
            }

            @include breakpoint($medium) { 
                //@include span(7 of 12);
                width:100%;
                // max-width:400px;
                margin-bottom:.4em;
                @include clearfix;
                // $display:inline;

            }

        } // featured-image

        .featured-description {
            display:block;
            padding: 1em 0;
            font-size:.9rem;
            line-height:1rem;
            margin-bottom:1em;

            ul {
                padding:0 0 .5em 0;
                list-style-type:circle;

                li {
                   // border-left:2px solid gray;
                    // padding:.4rem;
                    margin-bottom:.5rem;
                    margin-left:2em;
                }
            }

            h4 {
        
                font-size:1.4rem;
                padding:.5em 0;
            }

            @include breakpoint($medium) { 
                padding:0;
               font-size:.85rem;
            //   margin-bottom:1rem;
            } // medium breakpoint
        } // featured-description

       
    //  MEDIUM BREAKPOINT --------------------------------
      @include breakpoint($medium) {
             padding-top:$base-padding;
            @include span(7 of 12);
            margin-bottom:.4em;
         } // medium breakpoint


    } // featured


    .secondary {
        padding: 0 $base-padding $base-padding $base-padding;

        h3 {
            @include i-h3;
           }


        .event-calendar {
            margin-top:.4em;
            width:100%;
            height:350px;
            background:adjust-lightness($darkgray,30);
        }

         @include breakpoint($medium) {
            padding:$base-padding;
            @include span(5 of 12);
            @include omega;
         } // secondary breakpoint @ #medium
    } // secondary 


    section.courses {
        background:#fff;

         h4 {
                background:adjust-lightness($darkgray,15);
                color:$white;
                font-family:$font-primary;
                padding: $base-padding;
                letter-spacing:.1em;
                @include text-shadow(rgba(black,0.2) 1px 1px 0);
                text-transform:uppercase;
            }// h4


        
        &.course-item {
            padding:$base-padding;
            padding-top:.4rem;

            .course-order {
                width:100%;
                text-align:center;
                margin: 1.6rem;
            }

            button {
                display:block !important;
                 width:50%;
                height: 44px;
                margin: 0 auto;
                @include sassy-button("flat",4px, $base-font-size  + .2);
            }

             h2 {
                   font-family:$font-headline;
                   font-size:1rem;
                     // text-transform:uppercase;
                   margin-bottom:.5em;
                   border-left:4px solid red;
                   padding-left:.4rem;
                  color: adjust-lightness($darkgray, 25);
              } 

             h3 {
                  font-family:$font-headline;
                  font-size:1.6rem;
                  padding:.4em;
                  color:$red;
                  border:0;
                  padding:0;
                  margin:.5em 0;
                  color: adjust-lightness($darkgray, 25); 
             } // h3

            li,p {
                font-size:$base-font-size;
            }

            p,ul {
                margin-bottom:.6rem;
            }
            
            span {
                // margin-bottom:.6rem;
                font-size:$base-font-size;

                &.course-price {
                   color:#fff;
                   font-size:$base-font-size;
                   background-color: adjust-lightness($darkgray, 30);
                   padding:.1em $base-padding;
                   @include border-radius(4px, 4px);

                }
            }

            ul {

                // default
                background:#381f1b;
                border:none;

                &.course-outline {
                    padding:.4rem;
                    color:wheat;
                    background:#381f1b;

                    span {
                        background-image:none !important;
                    }

                    li {
                        // margin:.4rem;
                        // border-top:1px dotted gray;
                        border-bottom:1px dotted gray;
                        padding:.4rem;

                        &:last-child {
                        //  border-bottom:1px dotted gray;
                           border-bottom:none;
                        }
                    }

                    &.information {
                        background: #999;
                    }
                } // course-outline

            }
        }

        h3 {
            border:none;
            border-left:4px solid $red;
            padding:.4em $base-padding;
            color:adjust-lightness($darkgray, 5);
        }

        h4 {
            background:adjust-lightness($darkgray,15);
            color:$white;
            font-family:$font-primary;
            padding: $base-padding;
            letter-spacing:.1em;
            @include text-shadow(rgba(black,0.2) 1px 1px 0);

                span {
                    font-size:$base-font-size;
                    color: $wheat;
                    position:relative;
                    top:-1px;
                }
            }

        .course-entry {
            padding-top: .4em;
            padding: $base-padding;
            border-bottom:1px solid adjust-lightness($darkgray, 80);

        }

        .course-entry-title {
            border:none;
            border-left:4px solid $red;
            padding:.4em $base-padding;
            color:adjust-lightness($darkgray, 5);
            font-size: .8em;
            text-transform: uppercase;
            font-weight: bolder;
            line-height: 1em;          
            p {
                padding-bottom:.2em;
                display:block;
                color:#381f1b;
                // @include text-shadow(rgba(black,0.2) 1px 1px 0);
            }

            span {
                   color:#fff;
                   font-size:.7rem;
                   padding:.1em $base-padding;
                   text-transform:initial;
                   @include text-shadow(rgba(black,0.2) 1px 1px 0);
                   @include border-radius(3px, 3px);

                  &.course-duration {
                     background-color: adjust-lightness($darkgray, 40);
                  } // .course-duration

                  &.course-price {
                     background-color: adjust-lightness(#381f1b, 20);

                  }
                } // span

        }

        .course-entry-description {
            font-family:$font-content;
            font-size:.9rem;
            padding-top:.4em;
            padding-left:1em;
            line-height:1.1em;

            @include breakpoint($medium) {
                font-size:.7em;
                line-height:1.2em;
            }
        } // course-entry-desciption

    } // content-courses 


    .faq {
        background:#fff;

         h4 {
            background:adjust-lightness($darkgray,15);
            color:$white;
            font-family:$font-primary;
            padding: $base-padding;
            letter-spacing:.1em;
            @include text-shadow(rgba(black,0.2) 1px 1px 0);
        }// h4

        p {
            padding:$base-padding 1em;
            font-size:$base-font-size + .1;
        }

        article {
            color:adjust-lightness($darkgray,15); 
            font-size:$base-font-size;
            padding:$base-padding 1em;
            // border-bottom:1px solid adjust-lightness($darkgray, 80);

            h3 {
              // @include i-h3;
             background-color:adjust-lightness($darkgray,75);
             font-family:$font-headline;
             font-size:1rem;
                 // text-transform:uppercase;
               margin-bottom:.5em;
               border-left:4px solid gray;
               padding-left:.4rem;
               padding:.4rem;

             }

            @include breakpoint($medium) {

            }
        } // article
    } // content-faq

   .about {

         h4 {
            background:adjust-lightness($darkgray,15);
            color:$white;
            font-family:$font-primary;
            padding: $base-padding;
            letter-spacing:.1em;
            @include text-shadow(rgba(black,0.2) 1px 1px 0);
            text-transform:uppercase;
        }// h4

         div {
            font-size:$base-font-size + .1;
            padding:$base-padding 1em;
         } 

         li {
             font-family: $font-primary;
             font-size:$base-font-size;
             margin-bottom:1rem;

             h2 {
               font-family:$font-headline;
               font-size:1rem;
                 // text-transform:uppercase;
               margin-bottom:.5em;
               border-left:4px solid red;
               padding-left:.4rem;
             }
         }

         h3 {
          font-family:$font-headline;
          font-size:1.6rem;
          padding:.4em;
          color:$red;

         }
     } // about

    .contact {

/*        input[type="text"],textarea {
            padding: 10px;
            border: none; // 1px dotted #ccc;
            width:100%;
            margin-bottom:.5rem;
            border-bottom: solid 2px #c9c9c9;
            @include transition-property(border);
            @include transition-duration(0.3s);
        } */

         h4 {
            background:adjust-lightness($darkgray,15);
            color:$white;
            font-family:$font-primary;
            padding: $base-padding;
            letter-spacing:.1em;
            @include text-shadow(rgba(black,0.2) 1px 1px 0);
            text-transform:uppercase;
        }// h4

         .contact-details {
            font-size:.9rem;
            padding:$base-padding 1em;
         }

         .contact-form {
            margin:0 auto;
            form {
     //           margin-top:2rem;
                padding:.5em 1em 1em 1em;
                background:floralwhite;
                button {

                }

                label {
                    display:block;
                    text-transform:uppercase;
                    font-size:.7em;
                    font-weight:bold;
                    color:#4c4c4c;
                }
            } // form

            @include breakpoint($small) {
                @include span(12 of 12);
                margin-left:0;
            }

            @include breakpoint ($medium) {
                @include span(7 of 12);
                margin-left: span(3 of 12);
            }
        }
     }

} // content

.layout {

    .branding {
  
    }

    .nav {
       padding:$base-padding;
    }

   

    .footer {
            // @include span(11 of 12);
            // @include omega;
            font-size:.7rem;
            color:#fff;
            text-align:center;
            padding:1em;
            background:#000000;
    }

    footer {
        line-height:1.5em;
        span.business-name {
            @include pie-clearfix;
        }
    }


    @include breakpoint($medium) {
    }
}

@include sticky-footer(72px, ".footer");



button {
    overflow:visible;
}

.nav-toggle {
    color:#fff;
    right:5px;
    top:10px;
    position:absolute;
    background-color:transparent;
    background-image:none;
    border:1px solid transparent;
    @include border-radius(4px);
    cursor:pointer;
    padding:9px 10px;
    margin-right:15px;
    margin-bottom:8px;
    width:50px;

    .icon-bar {
        @include box-sizing(border-box);
        display:block;
        width:22px;
        height:2px;
        @include border-radius(1px);
        background-color:#fff;
        margin-bottom:5px;
    }

    @include breakpoint($medium) {
        display:none;
    }
}


// kendo ui

.k-panel>.k-item>.k-link {
 font-size:$base-font-size;
}

.k-tabstrip-items .k-state-default .k-link, .k-panelbar>li.k-state-default>.k-link {
 font-size:$base-font-size;
}

.k-widget, .k-block, .k-inline-block, .k-draghandle {
  //   border:none;
}
k-content, .k-editable-area, .k-panelbar>li.k-item, .k-panel>li.k-item, .k-tiles {
    border-bottom: 1px dotted;
    padding: .4rem;
}

.k-state-selected>.k-link, .k-panelbar>li>.k-state-selected, .k-panelbar>li.k-state-default>.k-link.k-state-selected {
    /* color: #fff; */
    font-weight: bold;
    color:#fff;
    background:#4c4c4c;
    
}

// material override

md-input-container {
    padding-bottom:1.5em;
}


