// anyting that is not layout
// or generic

@mixin i-h3 {
    color:$red;
    font-size:.8rem;
    line-height:1rem;
    border-bottom:2px solid adjust-lightness($darkgray, 70 );
    text-transform:uppercase;
    font-weight:bolder;
    margin-bottom:.4em;
}

