// Colors ---------
$red        : #fb1d00;
$darkgray   : #262626;
$lightgray  : #a8a8a8;
$white      : #fff;
$nav-active : #f3431e;
$nav-normal : #fffffa;
$wheat      : wheat;


$small      : 30em;
$medium     : 47em;
$large      : 75em;

$base-padding    : .6em;
$base-font-size : .8rem;
$base-color : #000000;
