<div class="content about">
   <section class="about">
    <h4>About iTraining.co.uk</h4>
     <div>
We are healthcare professionals devoted to provide high quality trainings and courses. We recognised how important in your role to keep you up-to-date with the current evidence based practice, however we are also committed to help you develop new skills and knowledge. 
     </div>

     <div>
         With our new approach in training professionals, we certainly believe that this is the way forward to achieve the ultimate goal in your career. This will result in professional satisfaction, self-confidence, and career progression. 

         <p>
             We are dedicated to meet your needs and be satisfied with our services 
         </p>
     </div>

     
     <h3>Why choose iTraining?</h3>
     <div>
         <ul>
             <li>
                 <h2>Our Courses</h2>
                 Wide range of topics to choose from which are designed to a high standard to meet the learners needs, organisation, and national expectations. All trainings are carefully created according to UK standard in lined with the local and national guidelines. 
             </li>
         

             <li>
                 <h2>Our Instructors</h2>
                 They are led by a Nurse Educator who had vast experience both in clinical practice and teaching. All instructors are experts in their field of specialities, enthusiastic, and very supportive. We are proud to have them on board.
            </li>
             <li>
                 <h2>Our Approach</h2>
                 Our generally caring profession aim to do the same in our training experience. We care for your needs and we are passionate to train you. Every learner is different and it is our aim to get out the best of them.</li>
             <li>
                 <h2>Our Reputation</h2>
                 Our excellent feedback from clients indicate high standard of service. The changes we made to improve healthcare professionals practice is what we are proud of. </li>

             <li>
                 <h2>Our Adaptability</h2>
We have the ability to set up courses and trainings within the organisation (in-House). We can work together to design your own unique concept of trainings and timings according to your needs. Choose any day of the week that  suits your organisation. 
             </li>
        

         </ul>
     </div>

   
    </section>
</div> <!-- content -->

