<div class="content contact">
    <section class="contact">
        <h4>Contact</h4>

        <div class='contact-details' ng-if="submitted">
            Thanks for reaching out. We will get back to you soon.
        </div>
        

        <div class='contact-details' ng-if="!submitted">
            <p>Thank you for your interest in contacting iTraining. Please provide us with the following information to help us serve you better. We will do our best to respond to you as quick as possible.</p> 

          <div class='contact-form'>
              <form name="contactForm" ng-submit="onSubmit()">
                  <md-input-container flex>
                      <label>title</label>
                      <input ng-model="contactData.title" name="title">
                  </md-input-container>

                  
                  <md-input-container flex>
                      <label>firstname</label>
                      <input required name="firstname" ng-model="contactData.firstname">
                      <div ng-messages="contactForm.firstname.$error" style="color:maroon"> 
                          <div ng-message="required">this is required</div> 
                      </div> 
                  </md-input-container>
                    
                  <md-input-container flex>
                      <label>lastname</label>
                      <input ng-model="contactData.lastname" name="lastname">
                  </md-input-container>

                  <md-input-container flex>
                      <label>email</label>
                      <input type="email" name="email" required ng-model="contactData.email">
                      <div ng-messages="contactForm.email.$error" style="color:maroon"> 
                          <div ng-message="required">this is required</div> 
                         <div ng-message="email">invalid email format</div> 
                      </div> 
                  </md-input-container>

                   <md-input-container flex>
                      <label>contact number</label>
                      <input type="number" ng-model="contactData.number" name="contactNumber">
                      <div ng-messages="contactForm.contactNumber.$error" style="color:maroon"> 
                         <div ng-message="number">contact must be number or empty </div> 
                      </div> 
                  </md-input-container>


                  <md-input-container>
                    <label>message</label>
                    <textarea required name="message" ng-model="contactData.message"></textarea>
                      <div ng-messages="contactForm.message.$error" style="color:maroon"> 
                          <div ng-message="required">this is required</div> 
                      </div> 
                </md-input-container>

                  <md-content layout="column" layout-align="center center">
                    You may want to like to speak with us on 07900801064
                  </md-content>
                  <br/> 
                  <md-button class="md-raised md-primary" type="submit">Submit</md-button>
                </form>
            </div>
        </div> <!-- contact-details  -->

    </section>
</div> <!-- content -->

