<div class="content faq">
    <section class="faq">
        <h4>FAQ</h4>
        <p>Here is a collection of our most frequently asked questions to help you guide the correct trainings or 
        courses. If your query does not appear here then please do not hesitate to contact us.</p>
        <article>
            <h3>I am an individual candidate, how can I book a training?</h3>
            We value each candidate and we will try our best to find you dates and venues that suit you. You will 
            join with other individual candidates who are also looking for the same training. We are here to 
            assist you, please contact us here to help you secure bookings.
        </article>
         <article>
            <h3>How to make a payment</h3>
            We accept Paypal, cash, money transfer or cheque payments. Payment using major cards 
            (debit/credit) is unfortunately not available at present. We are working hard to make this payment 
            option available in the future. We are sorry for any inconvenience. Please contact us to discuss your 
            preferred payment.
        </article>
        <article>
            <h3>I need my certificate after the training, is this possible?</h3>
            Yes, the lecturer/trainer will hand your certificate on the day after successful completion. We need 
            your complete name prior to training to ensure correct spelling in the certificate.
        </article>
        <article>
            <h3>How will I know the dates of the training I wanted to do?</h3>
            The best option is to email us here and we will be happy to find you the suitable dates and venues. 
        </article>
        <article>
            <h3>We are group of people or large organisation, we are looking to book a training on our site can 
                you help us?</h3>
            Yes, definitely. We are experienced in organising on site training (in-house) for many years. This 
            offers you best experience to learn and more value for money. Please contact us to discuss this. 
        </article>
        <article>
            <h3>We are group of people or large organisation, we are looking to book a training on our site can 
                you help us?</h3>
            Yes, definitely. We are experienced in organising on site training (in-house) for many years. This 
            offers you best experience to learn and more value for money. Please contact us to discuss this. 
        </article>
        <article>
            <h3> Our organisation requires a specific training or slightly different concept from the course content 
                on this website, can you help us?</h3>
            Absolutely. We have a tailored course approach where we based the contents of the training 
            according to your specific needs. Let us know what you need and we are happy to assist you.
        </article>

    </section> <!-- faq -->
</div> <!-- content -->

