<div class="content home">
    <section class="home">
                <div class="featured"> 
                     <div class="featured-title">
                        <h4>Bespoke Training & In-House Courses</h4>
                    </div> <!-- featured-title  -->
                 
                    <div class="featured-image">
                     <img src="img/home_img.jpg">
                 </div>
                      
                    <span class="featured-description">
                        iTraining offers the best value in-house courses and educational programme specifically designed to your needs.
                        We can customise the programme according to your request. This gives you flexibility and mutual agreement on how you want to run the training. 

                    

                        <h4>Take advantage of these benefits:</h4>

        <ul>
                <li>Tailored programme</li>
                <li>Course that is outlined to your organisational needs</li>
                <li>Staff feel more empower, creates team cohesiveness, and share skills within the group</li>
                <li>Use your own equipment to gain more experience and confidence</li>
                <li>Staff comfort, time efficient, and cost-effective</li>
        </ul>                 
        Contact us now for more details. We are committed to help you. 
                </span>

                 <md-button class="md-raised md-primary featured-course-go-button">PROCEED TO COURSES</md-button> 
              </div> <!-- featured -->

               <div class="secondary">
                    <aside>
                        <h3>event calendar</h3>
                        <div class="event-calendar">
                            <div>
                                    
                            </div>
                            
                        </div>  <!-- event calendar -->
                    </aside>  <!-- aside -->
                </div> <!-- secondary -->

    </section> <!-- content -->

 </div>

