<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iTraining.co.uk</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/kendo.common.min.css" />
    <link rel="stylesheet" href="css/kendo.default.min.css" />
    <link rel="stylesheet" href="css/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="css/kendo.dataviz.default.min.css" />
    <link rel="stylesheet" href="./vendor/angular-material/angular-material.css" />
    <link rel="stylesheet" href="css/main.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="./vendor/angular-animate/angular-animate.min.js"></script> 
    <script src="./vendor/angular-aria/angular-aria.min.js"></script> 
    <script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>



<script src="./vendor/angular-messages/angular-messages.min.js"></script> 
    <script src="./vendor/angular-material/docs.js"></script> 
    <script src="./js/vendor/kendo/kendo.all.min.js"></script>
 </head>
<body ng-app="itraining">

    <header>
    <div class="header">
        <section class="masthead">
            <div class="header-branding"><img src="./img/logo_big.png"></div>
        </section>
        <div class="header-footer"></div>
    </div> <!-- header -->
    <div class="navigation" main-navigation>
        <button class="nav-toggle" type="button" ng-click="toggleNavigation()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
        <div class="layout">
            <nav>
                <ul class="nav" ng-controller='NavigationController as nav'>
                    <li ng-if="navReady" ng-repeat="nav in nav.navigationList"><a href="{{nav.url}}">{{nav.label}}</a></li>
                </ul> <!-- ul nav -->
            </nav> <!-- nav  -->
       </div> <!-- layout -->
    </div> <!-- navigation -->
    </header> <!-- header -->
 
    <div class="layout" ui-view>

    </div> <!-- layout  -->

    <div class='layout'>
        <section class='footer'>
            <footer>
                <span class="business-name">iTraining.co.uk (c) 2014</span><span class="business-policy">Terms of Use  /  Privacy Policy</span>
            </footer>
        </section>
    </div>


   
 
  
  <script src="./js/app.js"></script>


</body>
</html
