<section class='courses course-item'>
<ul kendo-panel-bar>
            <li>
                <span>
                   Resuscitation
                </span>
                
                    <ul>
                        <li> Adult Basic Life Support </li>
                        <li> Paediatric Basic Life Support </li>
                        <li> Neonatal Basic Life Support </li>
                        <li> Automated External Defibrillation </li>
                        <li> <a ui-sref='courses.detail({ courseId: 15, base: 1})'>Anaphylaxis</a> </li>
                        <li> Intraosseous (IO) </li>
                        <li> Vanepuncture and Cannulation</li>
                        <li> Airway Management</li>
                    </ul>
            </li>
            <li>
                Clinical Skills
                    <ul>
                      <li> <a ui-sref='courses.detail({ courseId: 21, base: 2})'>Cannulation (Peripheral Intravenous)</a></li>

                        <li> <a ui-sref='courses.detail({ courseId: 22,  base:2})'>Venepuncture (Phlebotomy) </a></li>
                        <li> <a ui-sref='courses.detail({ courseId: 23,  base:  2})'>Cathetiresation (Male, Female, Suprapubic)</a> </li>
                        <li> <a ui-sref='courses.detail({ courseId: 24,  base:  2})'>Tracheostomy Care </a></li>
                        <li> <a ui-sref='courses.detail({ courseId: 25,  base:  2})'>Intravenous Therapy & Drug Administration</a></li>
                        <li> Basic ECG Interpretation</li>
                    </ul>
            </li>
            <li>
                Emergency Care
                    <ul>
                        <li>A&E Workshop </li>
                        <li>ECG Interpretation   </li>
                        <li>Arterial Puncture and Interpretation   </li>
                        <li> ABG Analysis </li>
                        <li> Oxygen Therapy</li>
                        <li> Advanced Airway Management</li>
                    </ul>
            </li>

             <li>
               Critical Care
                    <ul>
                        <li>Adult Critical Care Workshop </li>
                        <li>Respiratory Workshop</li>
                        <li>Cardiovascular Workshop   </li>
                        <li> Renal Workshop</li>
                        <li> Neurology Workshop</li>
                        <li> Mechanical Ventilation </li>
                        <li> Non-Invasive Ventilation  </li>
                        <li> Tracheostomy Care </li>
                        <li> Oxygen Therapy </li>
                        <li> Weaning from Mechanical Ventilation  </li>
                        <li> Medication in ICU</li>
                        <li> Arterial Blood Gas Analysis</li>
                        <li> Arterial Puncture and Interpretation</li>
                    </ul>
                </li>

             <li>
                Home Care
                    <ul>
                        <li>Medication Management and Administration </li>
                        <li>Tissue Viability and Pressure Ulcer</li>
                        <li>Wound Care and Management</li>
                        <li> <a ui-sref='courses.detail({ courseId: 54, base: 5})'> Enteral Feeding (NG, PEG, JEJ, TPN)</a></li>
                        <li> Venepuncture and Cannulation</li>
                        <li> Drug administration </li>
                        <li> Catheterisation (Male, Female, Supra-pubic) </li>
                        <li>  Anaphylaxis</li>
                        <li>Adult Basic Life Support</li>
                        <li> Syringe Driver</li>
                        <li> Mandatory Training for Healthcare Professionals</li>
                        <li>  <a ui-sref='courses.detail({ courseId: 512, base: 5})'>Non-Invasive Ventiltion (CPAP & BiPAP)</a></li>
                        <li> Oxygen Therapy</li>
                        <li>  <a ui-sref='courses.detail({ courseId: 514, base: 5})'>Weight Management and Dietary Advice</a></li>
                        <li>  <a ui-sref='courses.detail({ courseId: 515, base: 5})'>Verification of Expected Death</a></li>

                    </ul>
            </li> 
            
             <li>
                Primary Care
                    <ul>
                        <li>IV Cannulation </li>
                        <li>Venepuncture (Phlebotomy) </li>
                        <li>Intraveneous (IV) Therapy and Drug Adminstration </li>
                        <li> ECG Interpretation </li>
                        <li> Basic ECG Skills</li>
                        <li> Safeguarding Adult and Young People </li>
                        <li> Injection technique </li>
                        <li> Documentation  </li>
                        <li> Tissue Viability and Pressure Ulcer  </li>
                        <li> Wound Care</li>
                        <li> Tracheostomy Care & Management  </li>
                        <li> Anaphylaxis  </li>
                        <li> Syringe driver</li>
                        <li>Medication Management and Administration   </li>
                        <li>Telephone Triage </li>
                        <li>Immunisation Training </li>
                        <li>Vascular Access Devices in the community </li>
                        <li>Use of Inhalers and Spacers </li>
                        <li><a ui-sref='courses.detail({ courseId: 619, base: 6})'> Verification of Expected Death</a> </li>
                        <li><a ui-sref='courses.detail({ courseId: 620, base: 6})'> Dietary Advice for Weight Management </a></li>
                        <li> <a ui-sref='courses.detail({ courseId: 621, base: 6})'> Enteral Feeding (NG, PEG, JEJ, TPN) </a></li>
                        <li> <a ui-sref='courses.detail({ courseId: 622, base: 6})'>Non-Invasive Ventilation (CPAP & BiPAP)</a></li>
                        <li> <a ui-sref='courses.detail({ courseId: 623, base: 6})'> Weight Management and Dietary Advice </a></li>
                       <li>  <a ui-sref='courses.detail({ courseId: 624, base: 6})'>Verification of Expected Death</a></li>

                    </ul>
                </li> 
                <li>
                    Healthcare Assistant (HCA) Training
                    <ul>
                        <li>Injection Technique & Immunisation</li>
                        <li>Wound Care and Management</li>
                        <li> <a ui-sref='courses.detail({ courseId: 73,  base:7})'>Venepuncture</a></li>
                        <li>Cannulation </li>
                        <li>Basic ECG Interpretation </li>
                        <li>Medication Administration (inhalers, nebulisers, eye drops, ear drops, and topical)</li>
                        <li>Documentation</li>
                        <li> <a ui-sref='courses.detail({ courseId: 78,  base:7})'>Weight Management and Dietary Advice</a></li>
                       <li>  <a ui-sref='courses.detail({ courseId: 79, base: 7})'>Verification of Expected Death</a></li>
                    </ul>
                </li>
        </ul>
</section>
