<!-- Venepuncture  -->
<section class='courses course-item'>
  <h3> Anaphylaxis </h3>
  <h2>Course Description</h2>
  <p>
    This topic is suitable for healthcare providers, carers, and professionals working in organisation where possible risks of anaphylaxis. You will develop excellent assessment skills in order to identify an individual who suffers anaphylactic reactions. You will develop confidence in initial treatment to prevent further deterioration or death caused by anaphylaxis.
 </p>

<h2>Course Outline</h2>
<ul class=course-outline>
  <li>Aetiology of anaphylaxis</li>
  <li>Anaphylatic reactions and Shock</li>
  <li>Reactions and signs</li>
  <li>Diagnosing and Emergency initial treatment</li>
  <li>Comprehensive Assessment</li>
  <li>Management and on-going care</li>
</ul>

 <h2>Course Information</h2>
 <span>Duration: One day (option of half-day)</span>
 <span class="course-price">Price: £60</span>

 <div class="course-order">
    <button>ORDER COURSE NOW</button>
 </div>
 
</section>

