<!-- Venepuncture  -->
<section class='courses course-item'>
  <h3> Cannulation (Peripheral Intravenous) </h3>
  <h2>Course Description</h2>
  <p>
    This course is specific to inserting a peripheral cannula in the vein with the use of intravenous catheter. The session will begin with theory and discussion followed by a practical demonstration. The day is mainly practical workshops where you have an ample time to practice with the simulated manikin in order to improve your skills in a safe environment. 
 </p>

<h2>Course Outline</h2>
 <ul class=course-outline>
    <li>Anatomy and physiology of blood vessels (veins)</li>
    <li>Legal and professional issues in performing invasive procedure</li>
    <li>Infection and prevention control standards</li>
    <li>dentifying and locating types of peripheral veins to use</li> 
    <li>Preparing  and assembling correct equipment</li>
    <li>Different types of peripheral catheter devices (including safety features) </li>
    <li>Different models of tourniquet and their styles of use </li>
    <li>Different techniques in preparing veins for cannulation </li>
    <li>Techniques and troubleshooting in inserting in catheter and types of dressings </li>
    <li>Aseptic Non Touch Technique (ANTT) in cannulation   </li>
    <li> Practical workshops and demonstrations </li>
 </ul>

 <h2>Course Information</h2>
 <span>Duration: One day course, 9am to 4pm</span>
 <span class="course-price">Price: £115</span>

 <div class="course-order">
    <button>ORDER COURSE NOW</button>
 </div>
 
</section>

