<!-- Venepuncture  -->
<section class='courses course-item'>
  <h3> Venepuncture </h3>
  <h2>Course Description</h2>
  <p>
  This skills training will develop individual to draw up venous blood samples for diagnostic investigations. The aim of this course is to provide best level of theory on blood collections and excellent practical experience using a real like-hand mannequin. With our years of training venepuncture, our expert trainers ensure that our course is designed to meet the needs of the trainees.  
</p>

<h2>Course Outline</h2>
 <ul class=course-outline>
    <li>Anatomy and physiology of blood vessels (veins)</li>
    <li>Legal and professional issues in performing invasive procedure</li>
    <li>Infection and prevention control standards</li>
    <li>Indications and contra-indications in performing venepuncture </li>
    <li>Identifying and locating types of veins to use </li>
    <li>Preparing  and assembling correct equipment</li>
    <li>Different techniques in preparing veins for venepuncture </li>
    <li>Techniques and troubleshooting in drawing up bloods</li>
    <li>Practical workshops and demonstrations</li>
 </ul>

 <h2>Course Information</h2>
 <span>Duration: One day course, 9am to 4pm</span>
 <span class="course-price">Price: £115</span>

 <div class="course-order">
    <button>ORDER COURSE NOW</button>
 </div>
 
</section>

