<!-- Venepuncture  -->
<section class='courses course-item'>
  <h3>Catheterisation (Male, Female, Supra-pubic) </h3>
  <h2>Course Description</h2>
  <p>
     This skills training will develop individual to draw up venous blood samples for diagnostic investigations. The aim of this course is to provide best level of theory on blood collections and excellent practical experience using a real like-hand mannequin. With our years of training venepuncture, our expert trainers ensure that our course is designed to meet the needs of the trainees.  

 </p>

<h2>Course Outline</h2>
 <ul class=course-outline>
    <li>Anatomy and Physiology of urinary system</li>
    <li>Types of urethral catheters and their use</li>
    <li> Indications and contra-indications of catheterisation</li>
    <li>Legal and Professional responsibilities</li>
    <li>Preparing for procedure</li>
    <li>Male and Female catheterisation </li>
    <li>Caring for supra-pubic catheter</li>
    <li>Changing supra-pubic catheter</li>
    <li>Monitoring and discontinuing</li>
    <li>Documentation </li>
 </ul>

 <h2>Course Information</h2>
 <span>Duration: One day course, 9am to 4pm</span>
 <span class="course-price">Price: £115</span>

 <div class="course-order">
    <button>ORDER COURSE NOW</button>
 </div>
 
</section>

