<!-- Venepuncture  -->
<section class='courses course-item'>
  <h3>Tracheostomy Care and Management </h3>
  <h2>Course Description</h2>
  <p>
A comprehensive training of theory and practice in caring for a tracheostomised patient/person in the hospital, community and home care settings. This includes both adult and paediatric clients in order to care for them effectively based on the recommended guidelines and evidence-based practice. You will understand different types of tracheostomies. During the practical session, you will have lots of opportunities to apply theories you have learnt.  
</p>

<h2>Course Outline</h2>
  <ul class=course-outline>
    <li>Anatomy and Physiology of the respiratory system</li>
    <li>Tracheostomy indications and complications </li>
    <li>Different types of tracheostomies </li>
    <li>Humidification and suctioning technique </li>
    <li>Communication with a valve </li>
    <li>Management of tracheostomy </li>
    <li>Changing tracheostomy </li>
    <li>Weaning programme </li>
    <li>Emergency management </li>
    
  </ul>

 <h2>Course Information</h2>
 <span>Duration: One day course, 9am to 4pm</span>
 <span class="course-price">Price: £115</span>

 <div class="course-order">
    <button>ORDER COURSE NOW</button>
 </div>
 
</section>

