<!-- Venepuncture  -->
<section class='courses course-item'>
  <h3> Intravenous Therapy and Drugs Administration </h3>
  <h2>Course Description</h2>
  <p>
This course is suitable for Registered Nurses and Allied Health Professionals to gain certification & recertification in drug administration and therapy with the use of vascular access devices.   A comprehensive theory on anatomy and physiology including fluid compartments will be presented on this course. We aim to update practitioners on current guidelines and evidence-based practice in preparation and management of intravenous therapy.  This will enable nurses to review NMC guidance and professional accountability in intravenous therapy. </p>

<h2>Course Outline</h2>
 <ul class=course-outline>
    <li>Anatomy and physiology review</li>
    <li>Review of professional accountability and NMC guidance </li>
    <li>IV Therapy practice guidelines and current evidence</li> 
    <li>Indications and contra-indications of intravenous drugsi</li>
    <li>Anaphylaxis treatment in relation to drug reactions </li>
    <li>Aseptic Non-Touch technique (ANTT) and infection control and prevention</li>
    <li>Setting up and preparing drugs, devices, and patient</li>
    <li>Drug calculations </li>
    <li>Compatibilities of drugs and their mixtures</li>
    <li>Different intravenous devices  and sites of administration (peripheral and central)</li>
 </ul>

 <h2>Course Information</h2>
 <span>Duration: One day course, 9am to 4pm</span>
 <span class="course-price">Price: £115</span>

 <div class="course-order">
    <button>ORDER COURSE NOW</button>
 </div>
 
</section>

