<!-- Venepuncture  -->
<section class='courses course-item'>
  <h3>Non-Invasive Ventilation (CPAP & BiPAP) </h3>
  <h2>Course Description</h2>
  <p>

    This course is designed for nurses, physiotherapists, respiratory therapists, carers, and other healthcare professionals who are responsible for or would like to improve their knowledge in caring for CPAP & BiPAP patients/clients. This can be designed according to your area of work. You will be taught theory on non-invasive ventilation, then followed by practical sessions on caring for this specific patient/client group. 
   </p>

<h2>Course Outline</h2>
  <ul class=course-outline>
    <li>Anatomy and Physiology of respiratory system</li>
    <li>Types of Non-invasive Ventilation (NIV)</li>
    <li>Indications and Contra-indications</li>
    <li>Setting up and connecting to NIV</li>
    <li>Monitoring patient/clients</li>
    <li>Humidifications and Communication</li>
    <li>Weaning plan and strategies </li>
    <li>Discontinuing and Resting from NIV </li>
    <li>Other issues with NIV </li>
    
  </ul>

 <h2>Course Information</h2>
 <span>Duration: One day course, 9am to 4pm</span>
 <span class="course-price">Price: £115</span>

 <div class="course-order">
    <button>ORDER COURSE NOW</button>
 </div>
 
</section>

