<!-- Venepuncture  -->
<section class='courses course-item'>
  <h3>Enteral Feeding Tubes (Nasogastric, PEG, JEJ, TPN) </h3>
  <h2>Course Description</h2>
  <p>
Artificial feeding with clients/patients consists of different types or methods. This course will give you an extensive training on this aspect of care. Aside from theoretical aspect of this course, you will have an opportunity to practice in setting up, monitoring, replacing, and discontinuing enteral feed. You will also be taught on how to give medications via these routes.  This is useful for community nurses and carers in the home care.
          </p>

<h2>Course Outline</h2>
  <ul class=course-outline>
    <li>Types of enteral feed/nutrition</li>
    <li>Indications and contra-indications</li>
    <li>Assessing, monitoring, and caring for the artificial tubes</li>
    <li>Administration of feeds</li>
    <li>Types of feed</li>
    <li>Flushing and maintaining patency</li>
    <li>Drugs administration </li>
    <li>Feeding Machine </li>
    <li>Troubleshooting  </li>
    <li>Discontinuing and monitoring</li>
    
  </ul>

 <h2>Course Information</h2>
 <span>Duration: One day course, 9am to 4pm</span>
 <span class="course-price">Price: £115</span>

 <div class="course-order">
    <button>ORDER COURSE NOW</button>
 </div>
 
</section>

