<!-- Venepuncture  -->
<section class='courses course-item'>
  <h3> Weight Management and Dietary Advice </h3>
  <h2>Course Description</h2>
  <p>
    One day tailored for support worker, care assistant, and other healthcare providers in managing weight of their clients and providing health and dietary advice. This relevant and interesting topic will help you to make plan of initial and on-going weight management. You will develop your skill in meal planning, effective communication, follow up advice, and other available management to control weight.
   </p>

<h2>Course Outline</h2>
  <ul class=course-outline>
    <li>Overweight and underweight in the UK </li>
    <li>Causes of weight control problems</li>
    <li>Effects in our health and UK economy</li>
    <li>Proper assessment of obese person (BMI vs BMR)</li>
    <li>Setting individualised goals</li>
    <li>Meal assessment and planning</li>
    <li>Weight management strategies </li>
   
  </ul>

 <h2>Course Information</h2>
 <span>Duration: One day course, 9am to 4pm</span>
 <span class="course-price">Price: £115</span>

 <div class="course-order">
    <button>ORDER COURSE NOW</button>
 </div>
 
</section>

