<!-- Venepuncture  -->
<section class='courses course-item'>
  <h3>Verification of Expected Death </h3>
  <h2>Course Description</h2>
  <p>
    A very useful skill for nurses and other allied healthcare professionals who are working in the community and home settings. This course will enable you to legally verify death of a client/person within your working environment. You will gain confidence on step-by-step assessment and examination, proper documentation and reporting, and communicating your findings to a medical doctor. This is useful in your area of practice if you are dealing with palliative clients in order to improve your service not only to the clients nut also to their families. 
    
   </p>

<h2>Course Outline</h2>
  <ul class=course-outline>
    <li>Verification of Death Vs Certification of Death</li>
    <li>Verification of Expected Death</li>
    <li>Legal and Professional issues </li>
    <li>Full Assessment and body Examination</li>
    <li>Role of a Coroner</li>
    <li>Breaking bad news </li>
    <li>Documentation and Reporting </li>
    <li>Care of the family</li>
    <li>Cremation and other cultural issues </li>
    
  </ul>

 <h2>Course Information</h2>
 <span>Duration: One day course, 9am to 4pm</span>
 <span class="course-price">Price: £115</span>

 <div class="course-order">
    <button>ORDER COURSE NOW</button>
 </div>
 
</section>

