 <ul kendo-panel-bar>
            <li>
                <span>
                   Resuscitation
                </span>
                
                    <ul>
                        <li> Adult Basic Life Support </li>
                        <li> Paediatric Basic Life Support </li>
                        <li> Neonatal Basic Life Support </li>
                        <li> Automated External Defibrillation </li>
                        <li> Anaphylaxis </li>
                        <li> Intraosseous (IO) </li>
                        <li> Vanepuncture and Cannulation</li>
                        <li> Airway Management</li>
                    </ul>
            </li>
            <li>
                Clinical Skills
                    <ul>
                        <li> Cannulation (Peripheral Intravenous)</li>
                        <li> <a ui-sref='courses.detail({ courseId: 22})'>Venepuncture (Phlebotomy) </a></li>
                        <li> Cathetiresation (Male, Female, Suprapubic) </li>
                        <li> Tracheostomy Care </li>
                        <li> Intravenous Therapy & Drug Administration</li>
                        <li> Basic ECG Interpretation</li>
                    </ul>
            </li>
            <li>
                Emergency Care
                    <ul>
                        <li>A&E Workshop </li>
                        <li>ECG Interpretation   </li>
                        <li>Arterial Puncture and Interpretation   </li>
                        <li> ABG Analysis </li>
                        <li> Oxygen Therapy</li>
                        <li> Advanced Airway Management</li>
                    </ul>
            </li>

             <li>
               Critical Care
                    <ul>
                        <li>Adult Critical Care Workshop </li>
                        <li>Respiratory Workshop</li>
                        <li>Cardiovascular Workshop   </li>
                        <li> Renal Workshop</li>
                        <li> Neurology Workshop</li>
                        <li> Mechanical Ventilation </li>
                        <li> Non-Invasive Ventilation  </li>
                        <li> Tracheostomy Care </li>
                        <li> Oxygen Therapy </li>
                        <li> Weaning from Mechanical Ventilation  </li>
                        <li> Medication in ICU</li>
                        <li> Arterial Blood Gas Analysis</li>
                        <li> Arterial Puncture and Interpretation</li>
                    </ul>
                </li>

             <li>
                Home Care
                    <ul>
                        <li>Medication Management and Administration </li>
                        <li>Tissue Viability and Pressure Ulcer</li>
                        <li>Wound Care and Management</li>
                        <li> Enteral Feeding (NG, PEG, JEJ, TPN)</li>
                        <li> Venepuncture and Cannulation</li>
                        <li> Drug administration </li>
                        <li> Catheterisation (Male, Female, Supra-pubic) </li>
                        <li>  Anaphylaxis</li>
                        <li>Adult Basic Life Support</li>
                        <li> Syringe Driver</li>
                        <li> Mandatory Training for Healthcare Professionals</li>
                        <li> Non-Invasive Ventiltion (CPAP & BiPAP)</li>
                        <li> Oxygen Therapy</li>
                    </ul>
            </li> 
            
             <li>
                Primary Care
                    <ul>
                        <li>IV Cannulation </li>
                        <li>Venepuncture (Phlebotomy) </li>
                        <li>Intraveneous (IV) Therapy and Drug Adminstration </li>
                        <li> ECG Interpretation </li>
                        <li> Basic ECG Skills</li>
                        <li> Safeguarding Adult and Young People </li>
                        <li> Injection technique </li>
                        <li> Documentation  </li>
                        <li> Tissue Viability and Pressure Ulcer  </li>
                        <li> Wound Care</li>
                        <li> Tracheostomy Care & Management  </li>
                        <li> Anaphylaxis  </li>
                        <li> Syringe driver</li>
                        <li>Medication Management and Administration   </li>
                        <li>Telephone Triage </li>
                        <li>Immunisation Training </li>
                        <li>Vascular Access Devices in the community </li>
                        <li>Use of Inhalers and Spacers </li>
                        <li> Verification of Expected Death </li>
                        <li> Dietary Advice for Weight Management </li>
                        <li> Enteral Feeding (NG, PEG, JEJ, TPN)</li>
                        <li> Non-Invasive Ventilation (CPAP & BiPAP)</li>
                    </ul>
                </li> 
                <li>
                    Healthcare Assistant (HCA) Training
                    <ul>
                        <li>Injection Technique & Immunisation</li>
                        <li>Wound Care and Management</li>
                        <li>Venepuncture</li>
                        <li>Cannulation </li>
                        <li>Basic ECG Interpretation </li>
                        <li>Medication Administration (inhalers, nebulisers, eye drops, ear drops, and topical)</li>
                        <li>Documentation</li>
                    </ul>
                </li>



        </ul>
    

